@cyan500: #00BCD4;
@cyan300: #4DD0E1;

.upload-file-button-container {
    .none {
        display: none;
    }
    .button {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        span {
            justify-content: center;
            display: flex;
        }
    }
}

.mdl-button--raised.mdl-button--colored {
    background: @cyan500 !important;
}
.mdl-button--raised.mdl-button--colored:hover {
    background-color: @cyan300 !important;
}
.mdl-button-50-per {
    width: 50%;
    margin: 0px 1px !important;;
}
