body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    margin: 0px;
}
.main {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;

    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(/icons/MaterialIcons-Regular.woff) format('woff');
}
